body{
    background-image: url("photo.png");
    background-size: 1300px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.navbar{
    background-color: rgba(12, 12, 12, 0.349);
    padding: 5px;
}
.jobsearch,.pen{
    float: left;
    color: #530592ef;
    text-align: left;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
}
.cont{
    text-align: right;
    word-spacing: 10px;
}
#content{
    font-weight: bolder;
    
    color: #066e20ef;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Merriweather Sans', sans-serif
}
.btn{
    width: 90px;
    height: 40px;
    background-color: rgb(3, 112, 12);
    color: lavender;
    border-radius: 7px;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
}
.about{
    background-color: lavender;
    margin-top: 10%;
    margin-right: 47%;
    margin-left: 8%;
    box-shadow: 10px 10px 10px rgba(131, 129, 129, 0.712);
}
.aboutheading{
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    line-height:60px;
    font-size: 40px;
    font-family:sans-serif;
    font-weight:bolder;
    color: #622396de;
    background-color: rgba(236, 240, 11, 0.932);
    text-shadow: 1px 1px 2px rgba(116, 113, 113, 0.603), 0 0 25px rgba(0, 0, 255, 0.76), 0 0 5px rgb(53, 53, 170);
}
.aboutpara{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    background-image: linear-gradient(rgb(255, 0, 234), rgb(51, 48, 207));
    line-height: 30px;
    margin-top: -28px;
    padding-bottom: 40px;
    padding-top: 30px;
    font-size:20px;
    font-family: 'Bangers', cursive;
}

